

#ContactP{
    
    display: flex;
    background:rgb(13,174,219);
    padding-top: 50px;
  
}
#contactMe{
width: 60%;
}
#loc{
    width:40%
}

@media all and (max-width: 900px) and (min-width:200px) {
   
    #ContactP{
        display: block;
       
    }
    #contactMe{
        width: 80%;
    
 
        margin-bottom: 0;
        margin:auto
    
    }
    #loc{
        width: 100%;
        margin:auto
    }

}

@media all and (max-width: 1200px) and (min-width:900px) {
   
    #ContactP{
        display: block;
       
    }
    #contactMe{
        width: 70%;
   
        margin: auto;
        margin-bottom: 0;
    
    }
    #loc{
        width: 80%;
        margin: auto;
    }

}